<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />

    {% if enable_syntax %}
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.2/styles/zenburn.min.css" />
    <script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>
    {% end %}

    <link rel="stylesheet" href="../static/css/default.css" />
  </head>
  <body>
    <header>
    </header>

    <nav>
    </nav>

    {% block content %}
    {% end %}

    <footer>
    </footer>
  </body>
</html>

