name: github pages

on:
    push:
        branches:
            - master

jobs:
    build-deploy:
        if: "!contains(github.event.head_commit.message, '[skip ci]')"
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v1
            - uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: '0.61.0'
            - run: hugo --minify
            - uses: peaceiris/actions-gh-pages@v2
              env:
                  ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
                  PUBLISH_BRANCH: gh-pages
                  PUBLISH_DIR: ./public
